@media only screen and (max-width: 767px) {
   
/* .slider-container {
    padding: 10px;
    margin: auto;
    width: 100%;
    background-color: green;
    margin-bottom: 100px;
  } */
  
  /* img slider width height count */
  /* .images-class {
    width: 767px;
    height: 80vh;
  }
  
  .content {
    text-align: center;
    padding-top: 200px;
  } */
  
  }